<footer>
    <nav class="menu">
        <ul class="list-1">
            <li><a rel="articles" href="https://adalab.es">articles</a></li>
            <li><a rel="books" href="https://adalab.es">books</a></li>
            <li><a rel="events" href="https://adalab.es">events</a></li>
            <li><a rel="reasons" href="https://adalab.es">reasons</a></li>
            <li><a rel="tips" href="https://adalab.es">tips</a></li>
        </ul>
    </nav>

    <nav class="menu dos">
        <a rel="arrow-icon2" href=">>#header>>"><img src="" /></a>
        <ul class="list-2">
            <li class="elemento1"><a rel="twitter" href="https://adalab.es">twitter</a></li>
            <li><a rel="instagram" href="https://adalab.es">instagram</a></li>
            <li><a rel="mastodon.social" href="https://adalab.es">mastodon.social</a></li>
        </ul>
    </nav>

        <div class="copy">
            <p>&copy 2022</p>
            <p>we love components</p>
        </div>

</footer>
    