<section class="section2" id="section2">
    <h2 class="h2-2">3 reasons to purchase</h2>
    <div class="part">
        <h3 class="title1">Ut sed metus</h3>
        <p class="text-2">Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
    <div class="part">
        <h3 class="title2">Curabitur ac erat</h3>
        <p class="text-3">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="part">
        <h3 class="title3">Morbi dictum</h3>
        <p class="text-4">Aliquam in dolor et dolor tincidunt.</p>
    </div>
    
    <div class="div-button">
        <input class="button2" type="submit" name="button-reasons" value="More reasons" />
    </div>

    <a rel="arrow-icon-up" href="index.html#header"><img src= "./assets/images/ico-arrow-up.svg" alt="arrow-icon-up" class="arrow-icon-up" /></a>

</section>
</main>