.section2 {
    background-color: #eff9ff;
    color: var(--black);
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 35px;
    text-align: center;

    @media all and (min-width: 768px) {
        height: 397px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 30px 0 0;
    }

    .h2-2 {
        font-size: 27px;
        font-family: 'Roboto Slab';
        margin: 29px 15px 0 15px;
        text-transform: capitalize;

        @media all and (min-width: 768px) {
            grid-column: 1 /span 4;
            text-align: center;
            margin: 0 auto;
            
        }
        
    }
    .part {
        font-size: 17px;
        font-family: 'Roboto';
        line-height: 27px;
        color: var(--black);

        @media all and (min-width: 768px) {
            padding: 0;
        }

        .title1 {
            font-family: 'Roboto Slab';
            font-size: 18px;
        }
        
        .text-2 {
            font-family: 'Roboto';
            
            
        }
        .title2 {
            font-family: 'Roboto Slab';
            font-size: 18px;
            
        }
        .text-3 {
            font-family: 'Roboto';
            
        }
        .title3 {
            font-family: 'Roboto Slab';
            font-size: 18px;
        }
        .text-4 {
            font-family: 'Roboto';
           
        

        }

        .title1, .title2, .title3 {
            @media all and (min-width: 768px) {
                font-size: 21px;
                padding-bottom: 10px;
            }

        }
        .text-1, .text-2, .text-3, .text-4 {
            padding: 0 100px;

            @media all and (min-width: 768px) {
                padding: 0 20px;
                font-size: 20px;
            }
        }
    }
    
    .div-button {
        color: var(--black);
        transform: translateY(10px);

        .button2 {
            color: var(--white);
            font-size: 20px;
            font-family: 'Roboto';
            width: 184px;
            height: 45px;
            border: solid #f26002;
            border-radius: 22.5px;
            background-color: #f26002;
            text-transform: initial;
    
        }

        @media all and (min-width: 768px) {
            grid-row: 3;
            grid-column: 2;
        }
    }

    a {
        @media all and (min-width: 768px) {
            grid-row: 4;
            grid-column: 2;
        }
        .arrow-icon-up {
            width: 45px;
            height: 45px;
            background-color: var(--white);
            padding: 10px 12.6px 10px 12.6px;
            border-radius: 50%;
            transform: translateY(27px);

            @media all and (min-width: 768px) {
                transform: translateY(32.5px);
            }
        }

    }

}