/*@import 'core/variables';
/*@import 'core/reset';/*
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/


/* reset styles */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 543.1px;
    background-color: aqua;

}